<nav style="display: flex; justify-content: space-between;">
    <div style="display: flex; justify-content: flex-start;">
        <ul>
            <li>
                <i class="fa-solid fa-bars" matTooltip="Menu" [matTooltipPosition]="'below'"></i>
            </li>
            <li>
                <a routerLink="/" 
                matTooltip="Home" 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="500">

                    Home
                </a>
            </li>
            <li>
                <a routerLink="/about" 
                matTooltip="About me" 
                [matTooltipPosition]="'below'"
                [matTooltipShowDelay]="500">
                
                    About me
                </a>
            </li>
        </ul>
    </div>
    <div style="display: flex; justify-content: flex-end;">
        <ul>
            <li>
                <a routerLink="login" (click)="rotateIcon(login)">
                    <i class="fa-solid fa-key" #login matTooltip="Admin" [matTooltipPosition]="'below'"></i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa-solid fa-gear" #settings (click)="rotateIcon(settings)" matTooltip="Config" [matTooltipPosition]="'below'"></i>
                </a>
            </li>
            <li matTooltip="English" [matTooltipPosition]="'below'">ES</li>
        </ul>
    </div>
</nav>


