nav ul li {
    display: inline;
    margin-right: 10px; 
}

button{
    border: none;
    background: none;
    cursor: pointer;
}




/* animation */

.rotate {
    transform: rotate(360deg);
    transition: transform 1s linear;
  }
  
  
  