<nav style="display: flex; justify-content: space-between;" *ngIf="showFooter">
    <div style="display: flex; justify-content: flex-start;">
        <ul>
        <li>
            <a href="/" matTooltip="LinkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </li>
        <li></li>
        <li>
            <a href="/" matTooltip="GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
        </li>
    </ul>
    </div>
    <div style="display: flex; justify-content: flex-end;">
        <ul>
            <li>Yoel Villa Palomino <i class="fa-regular fa-copyright"></i> </li>
        </ul>
    </div>
</nav>