html, body {
    margin: 0;
    padding: 0;
    top: 0;
    overflow-y: hidden;

  }
  main{
    margin-top: 5%;
    text-align: center;
    background-color: #222222;
    position: relative;
    color: #f8f8f8;
    
  }

  ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
li{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

  img {
    border-radius: 50%;
    filter: brightness(0.9);
    transition: 0.5s;
    z-index: 999;
}

i{
  position:absolute;
    font-size: 40px;
    z-index: 999;
}
  
#ts-particles{
    position: relative;
    z-index: -999;
    opacity: 0.5;
    
}
