/* Import Fira Code fonts. */
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,700&display=swap');


/* Set the default font family to Fira Code. */
body, html {
    font-family: 'Fira Code', monospace;
}

/*Default padding*/
body {
  padding-top: 3%;
  padding-bottom: 3%;
}


/*Styles for the header and footer container*/
header, footer {
  width: 100%;
  left: 0;
  position: fixed;
  background: #333;
  
  color: #fff;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}


/*Media querys*/

@media screen and (max-width: 1000px) {
  body {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding-top: 8%;
    padding-bottom: 8%;
  }
}

@media screen and (max-width: 400px) {
  body {
    padding-top: 13%;
    padding-bottom: 13%;
  }
}
  
